:root {
  --primary: #b39063;
  --secondary: #fbf9f7;
  --bg: #ffffff;
  --text: #58606e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text);
}

body {
  background-color: var(--bg);
  color: var(--text);
}

section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9rem;
}

/* HEADER */
header {
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9rem;
}

.logo a {
  color: var(--primary);
  font-size: 32px;
  font-family: "Elsie Swash Caps", serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  margin-right: 40px;
}

.navbar ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 26px;
  margin-right: 20px;
}

.navbar ul li a {
  position: relative;
  color: var(--text);
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 6px;
  transition: color 0.3s ease;
}

.navbar ul li a:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 100%;
  height: 1.5px;

  background: var(--primary);

  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.3s ease;
}

.navbar ul li a:hover::after,
.navbar ul li a.active::after  {
  transform: scaleX(1);
}

.navbar ul li a:hover,
.navbar ul li a.active {
  color: var(--primary);
} 

.navbar .nav-icons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 18px;
}

.nav-icons .bi{
  font-size: 20px;
  cursor: pointer;
  color: var(--primary);
  transition: transform 0.2s ease;
}

.nav-icons .bi:hover{
  transform: scale(1.05);
}

/* HERO */
#hero {
  width: 100%;
  height: 90vh;
  background: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 9rem;
  gap: 6rem;
}

.hero-content {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 20px;
}

.hero-content p {
  font-size: 68px;
  font-weight: 400;
  color: var(--primary);
  font-family: "Cormorant Garamond", serif;
}

.hero-content button {
background: transparent;
  border: 1px solid var(--primary);
  padding: 12px 46px;
  cursor: pointer;
  width: fit-content;
  border-radius: 28px;
 }

.hero-btn {
  font-family: "Poppins", sans-serif;
  color: var(--primary);
  font-size: 18px;
}

.hero-img {
  display: flex;
  gap: 20px;
  max-width: 900px;
  position: relative;
}

.hero-img img {
  object-fit: cover
  border-radius: 12px;
}

.hero-img img:first-child {
  border-radius: 6px;
  width: 400px;
  height: 550px;
  margin-right: 170px;
}

.hero-img img:last-child {
  position: absolute;
  top: 30%;
  right: 13%;
  border-radius: 90px 90px 0 0;
  width: 180px;
  height: 250px;
}

.img-icon {
  position: absolute;
  top: 270px;
  left: 380px;
  color: #fff;
  font-size: 42px;
  z-index: 1;
  opacity: 70%;
  cursor: pointer;
  transition: transform 0.5s ease;
}

.img-icon:hover {
  transform: scale(1.1);
  opacity: 100%;
}

/* FEATURES */
#features-grid {
  width: 100%;
  height: 40vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#features-grid div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#features-grid div p {
  line-height: 1.4;
  text-align: center;
  width: 68%;
}

#features-grid i {
  font-size: 45px;
  color: var(--primary);
}